.auth {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  height: calc(100vh - 2rem);
}

/* Auth Section  */
/* Auth Section  */
.auth-section {
  /* border: 2px solid #ccc; */
  border: 2px solid var(--light-background);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: end;
  gap: 0.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.auth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-greetings {
  color: var(--primary-color);
  margin-top: 1rem;
}
.auth-sub-greetings {
  color: #999;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.75rem;
}

.auth-change-buttons {
  box-shadow: 0px 0px 2px #0007;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  position: relative;
}
.auth-go-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  border-radius: 10px;
  height: 40px;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  border: none;
  background-color: transparent;
}

.auth-go-button-fill {
  position: absolute;
  color: var(--primary-color);
  background-color: var(--light-background);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  border-radius: 10px;
  height: 40px;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.2s;
}
.auth-go-button-fill-left {
  color: var(--primary-color);
  background-color: var(--light-background);
}
.auth-go-button-fill-right {
  color: var(--primary-color);
  background-color: var(--light-background);
}

.auth-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  & label {
    color: var(--primary-color);
    margin-top: 1rem;
    & span {
      color: var(--danger-color);
    }
  }

  & input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    border: 2px solid #ddd;
    margin-top: 0.2rem;
    padding: 0 10px;
  }
  & input::placeholder {
    color: #999;
  }

  & .auth-login-button {
    width: 100%;
    border: none;
    border-radius: 10px;
    color: #fff;
    height: 40px;
    margin-top: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--primary-color);
  }
  & .auth-login-button:hover {
    background-color: var(--button-hover);
  }
}

.auth-divider {
  display: flex;
  color: #999;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.auth-OAuth-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.auth-google-button {
  background-color: #f9f9f9;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #0003;
  cursor: pointer;
  border: none;
}
.auth-google-button:hover {
  box-shadow: 1px 1px 5px #0009;
}

.auth-bottom {
  text-align: center;
  font-size: 0.8rem;
  color: #999;
  margin-top: 1rem;

  & a {
    text-decoration: none;
    color: var(--primary-color);
  }
}

/* OTP form related  */
/* form related  */
.otp-inputs {
  display: flex;
}
.auth-form .otpInput {
  width: 40px;
  text-align: center;
  font-size: 18px;
  margin: 5px;
}

/* Decoration Section  */
/* Decoration Section  */

.auth-decoration-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(255, 212, 237); */
  background-color: var(--primary-color);
  border-radius: 10px;
  & img {
    width: 300px;
    border-radius: 10px;
    background-color: var(--primary-color);
    margin-bottom: 1rem;
  }
  & p {
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
}

.auth-decoration-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 250px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #0000,
    var(--primary-color),
    var(--button-hover)
  );
  z-index: 100;
  border-radius: 10px;
}

.auth-decoration-heading {
  text-transform: capitalize;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .auth {
    margin: 0;
  }
  .auth-section {
    border: none;
  }
  .auth-decoration-section {
    display: none;
  }
}
