.chats {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  min-width: 320px;
  height: 100%;
  box-sizing: border-box;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  overflow: scroll;
}
.chats::-webkit-scrollbar {
  display: none;
}

.chats-heading {
  margin: 0 1rem;
  margin-top: 1rem;
}
.chats-buttons-container {
  padding: 0 1rem;
}
.chats-buttons {
  box-sizing: border-box;
  display: flex;
  background-color: #eee;
  padding: 4px;
  border-radius: 25px;
  height: fit-content;
  width: fit-content;
  width: 100%;
  max-width: 300px;
  margin: auto;
  margin-top: 1rem;
}

.chats-go-button {
  border: none;
  border-radius: 25px;
  height: 35px;
  width: 100%;
  background-color: transparent;
  color: #777;
}

.chats-go-button-active {
  background-color: var(--primary-color);
  color: #fff;
}

.chats-search-button {
  background-color: transparent;
  border: none;
  margin: 1rem auto;
  margin-bottom: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #eee;
  border-radius: 10px;
  min-height: 40px;
  cursor: pointer;
  min-width: 280px;
  & p {
    color: #999;
  }

  & .chats-search-magnifying {
    font-size: 1.1rem;
    color: #222;
  }
}

.chat-Cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 0.1rem;
  box-sizing: border-box;
}
.chat-card-container {
  width: 100%;
  height: fit-content;
  border-top: 1px solid #eee;
}

@media screen and (max-width: 768px) {
  .chats {
    width: 100%;
    min-width: none;
  }
}
