.search {
  display: flex;
  height: fit-content;
  width: 100%;
  max-width: fit-content;
  border: 1px solid #ccc;
  margin: 0 auto;
  border-radius: 25px;
}

.search-button {
  border: none;
  background-color: transparent;
  width: 60px;
  height: 40px;
}
.search-input {
  box-sizing: border-box;
  border: none;
  width: 100%;
  min-width: 250px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0 0.5rem;
}

.search-input:focus {
  outline: none;
}
.search:focus-within {
  border: 2px solid var(--primary-color);
}

/* filters  */
/* filters  */
/* filters  */

.pagination {
  /* background-color: red; */
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  margin: auto;

}
.pagination-button {
  border: none;
  height: 30px;
  width: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.pagination-button:hover{
  box-shadow: 0 0 2px #0005;
}
